{% extends "layout.html" %}

{% block content %}

<div class="text-center h1">Register</div>

<div class="containers">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
      <div>
        {{ render_field(form.name) }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        <input type="file" name="photo">
    
      </div>
      <p><input type=submit value="Register" class="btn btn-info"></p>
    </form>
</div>

{% endblock content %}